<div class="container">
			<h2>Terms Of Service</h2>
		</div>
	<!-- Page Top section end -->

<div class="container">
<div class="terms-of-service-container">
<h2>I. General</h2>
<p>These terms of service govern your access to the LiteSpeedServices.com website and all other services offered by
LiteSpeedServices.com.</p>
<p>This service is provided as-is, no guarantees.</p>
<p>We always try to deliver the best service possible but we cannot guarantee that the services offered are always
available and/or working as intended.</p>
<h2>II. File Uploads and Server Content</h2>
<p>We reserve the right to delete any file uploaded to any server, at any time with no warning or justification</p>
<p>You agree to not use or upload to your server any of the following content:</p>
<ol>
<li>any illegal content;</li>
<li>anything obtained illigaly;</li>
<li>any malicious files;</li>
<li>any script that allows changing the memory or port;</li>
<li>any script that listens on any network port (unless configured to listen on the 50000-51000 port
range or BungeeCord);
</li>
<li>any plugin with remote console capabilities;</li>
<li>any script that attempts to execute bash commands;</li>
</ol>
<h2>III. Backups or Data Loss</h2>
<p>We do not backup user files or servers;</p>
<p>We will not be responsible for data loss under any circumstances;</p>
<h2>IV. Upgrades and Payments</h2>
<ol>
<li>We do not provide refunds after 3 days;</li>
<li>Any kind of chargeback or fund withdrawal will result in the associated account being terminated;</li>
<li>We reserve the right to change a plan attributes or price without warning, no refund will be provided;</li>
<li>If your server is suspended, or your account terminated due to a violation of this terms we will not provide
any kind of refund;
</li>
<li>Plans cannot be transferred between servers or accounts;</li>
<li>Credits cannot be transferred between accounts;</li>
<li>If you are under the age of majority in your country you may only purchase any of the services or goods
offered by LiteSpeedServices.com with the involvement of your parent or guardian. Make sure you review these
Terms with
your parent or guardian so that you both understand all of your rights and responsibilities.
</li>
</ol>
<h2>V. Support</h2>
<p>We don't have any SLA or support response times, we do our best but don't make any promises;</p>
<p>Spamming or sending multiple requests about the same issue will result in your account being terminated;</p>
<p>Any kind of insults or disrespect against our staff or service will lead to account termination;</p>
<h2>VI. Conduct, General Prohibitions</h2>
<p>You agree that you are responsible for your own conduct and User Content while using the Services, and for any
consequences thereof. In addition, you agree not to do any of the following, unless applicable law mandates that
you be given the right to do so:</p>
<ol>
<li>attempt to access or search the Services or Content or download Content from the Services through the use of
any technology or means other than those provided by us or other generally available third party web
browsers (including without limitation automation software, bots, spiders, crawlers, data mining tools, or
hacks, tools, agents, engines, or devices of any kind);
</li>
<li>attempt to decipher, decompile, disassemble, or reverse engineer any of the software used to provide the
Services or Content bypass, remove, deactivate, descramble, or otherwise circumvent any technological
measure implemented by us or any of our providers or any other third party (including another user) to
protect the Services or Content;
</li>
<li>attempt to probe, scan, or test the vulnerability of any LiteSpeedServices.com system or network or Service, or
breach any security or authentication measures interfere with, or attempt to interfere with, the access of
any user, host, or network, including, without limitation, sending a virus, overloading, flooding, spamming,
or mailbombing the Services;
</li>
<li>resell any service obtained from us;</li>
<li>host, use, access, or operate any illegal content;</li>
<li>create, access, or operate multiple accounts, including but not limited to the same household;</li>
<li>access our services using TOR, VPNs, proxys or any anonimizers;</li>
<li>use any temporary emails;</li>
<li>use any system bug to bypass any restriction or plan enforcing will result in direct server termination and
ban from the platform;
</li>
<li>block, or report as SPAM any email sent by us;</li>
<li>affect other users negatively, including, but not limited to abusing server resources or causing load
spikes;
</li>
</ol>
<h2>VII. Account Suspension or Termination</h2>
<p>We may suspend or terminate your access to and use of the Services, at our sole discretion, at any time and
without notice to you, including but not limited to, if:</p>
<ul>
<li>you fail to comply with these Terms;</li>
<li>we suspect fraud, or misuse by you of Content or Services;</li>
<li>we suspect any other unlawful activity associated with your Account;</li>
<li>we suspect your account has an high chance of violating this terms;</li>
</ul>
<p>In all cases where a server is suspended or an account terminated we will never provide any kind of backup of
user data.</p>
<p>Suspended server's files are retained until the account gets reactivated, up to 7 days;</p>
<p>Terminated account's files are deleted in up to 24h after termination (usually within 1h);</p>
<h2>VIII. Beta Tests</h2>
<p>LiteSpeedServices.com may offer you early access to certain pre-release software ("Beta Software") in order to allow
you to test and provide feedback on Beta Software as part of LiteSpeedServices.com’s beta testing program (“Beta
Program”).</p>
<p>You acknowledge that any product features or content, documentation, promotional materials and/or any other
information that LiteSpeedServices.com may provide to you in connection with the Beta Program ("Test Materials"), the
Beta Software, as well as everything related to the Beta Program is the exclusive property of LiteSpeedServices.com,
is confidential, and should be treated as confidential until such time as LiteSpeedServices.com releases it.</p>
<p>If LiteSpeedServices.com offers you access to the Beta Software, then, subject to your compliance with these Terms,
LiteSpeedServices.com grants you a personal, non-exclusive, non-transferable, revocable, limited license to use the
Beta Software solely for the purposes of testing and providing feedback on the Beta Software as part of the Beta
Program. Without limiting the foregoing and except as prohibited under applicable law, the following are
prohibited and you may not:</p>
<ul>
<li>copy, modify, or create derivative works based on the Beta Software;</li>
<li>give or sell the Beta Software to anyone;</li>
<li>reverse engineer, decompile, disassemble, decrypt or otherwise attempt to derive the source code of the Beta
Software;
</li>
<li>install the Beta Software on systems you don’t directly control or that you share with others;</li>
<li>discuss the Beta Software with or demonstrate it to anyone outside of LiteSpeedServices.com;</li>
<li>blog, tweet, or otherwise publicly post information about the Beta Software;</li>
<li>take screenshots, photos, videos, or audio recordings of the Beta Software unless LiteSpeedServices.com has
allowed you to do so in writing or make Beta Feedback available to any third party, unless approved by
LiteSpeedServices.com in writing and in advance.
</li>
</ul>
<p>Be careful when using the Beta Software in public. Do not allow anyone to see, hear, film, or photograph the Beta
Software. Please notify LiteSpeedServices.com promptly of any unauthorized access or of any suspected breach of your
account’s security.</p>
<p>You understand and agree that participation in the Beta Program is voluntary and does not create a legal
partnership, agency, or employment relationship between you and LiteSpeedServices.com, and you will not be
compensated for your participation or any Beta Feedback.</p>
<p>Unless prohibited by applicable law, all Test Materials are provided to you "as is" without any explicit or
implicit warranty of any kind. You understand that the Beta Software is in development and may contain errors,
bugs, and other problems that could cause loss of data and/or system failure. You should install the Beta
Software on non-production devices that are not business critical and have been backed up. To the extent
permitted under applicable law, LiteSpeedServices.com is not liable in any way for any damages you might incur as a
result of your participation in the Beta Program.</p>
<p>You agree that any breach of your confidentiality obligation will result in irreparable harm to LiteSpeedServices.com,
the extent of which would be difficult to ascertain, and that monetary damages will not be an adequate remedy.
Accordingly, you agree that in the event you breach your confidentiality obligation, LiteSpeedServices.com will be
entitled to injunctive or other equitable relief as the court deems appropriate, in addition to any other
remedies which it may have available.</p>
</div>
</div>
</body>
