<div class="container">
			<h2>Privacy Policy</h2>
		</div>
	<!-- Page Top section end -->
<div class="container">
<div class="privacy-index">
<p>Last updated: May 6th, 2020</p>
<h2>Non Legalese short version:</h2>
<ul>
<li>We will not disclose your personal information to any other parties unless with a valid court order;</li>
<li>We use cookies;</li>
<li>We use Google Analytics;</li>
<li>We use Google Adsense;</li>
<li>We log you do on this site(access logs), including IP addesses and the country they are assigned to for
security and intrusion detection/prevention reasons as allowed by GDPR;
</li>
<li>We may email you with updates related to this platform, you may opt out by requesting to have your account
deleted (Right to be forgotten);
</li>
<li>We will notify you via email and update this pages when this policy changes;</li>
<li>You can delete your account whenever you want, this will also delete access logs when applicable;</li>
</ul>
<h>Full Version:</h>
<h2>Information we collect and how its used</h2>
<p>Usually, your username cannot be traced back to you except if it contains your name or if you also use it on
other platforms. Because of that, we protect your username the same way we protect personal data. </p>
<p>Your password is already concealed on your computer (hash) and will then be stored with more security (hash +
salt)
on our servers. So your password will never reach our servers in plaintext and is extra secured.</p>
<p>We also save the point in time of your registration to create statistics. Besides that, we have to save that time
to
be able to prove that you have accepted this policy.</p>
<p>All settings of your Minecraft server and all files that are created by your Minecraft server are saved on our
servers. Furthermore, we may send this data to remote backup servers</p>
<p>To be able to understand what happened when errors or problems occur we save miscellaneous activities on our
website in a log file, e. g. when you start your server, who enters or leaves your server, when you up- or
download a world or when you change your email address or password.</p>
<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can
be used to contact or identify you, after you signup and login to your control panel we collect the following
information of all account actions (anything that makes changes to your account or services):
</p><ul>
<li>User</li>
<li>What you did</li>
<li>Timestamp</li>
<li>IP</li>
<li>Country</li>
</ul>
<p>This information can and will be used to:</p>
<ul>
<li>Security purposes (guarantee its you making the changes)</li>
<li>In case of payment disputes</li>
<li>Aggregated analytics (so we know what are the most popular features and where to spend time on)</li>
<li>Support (so we can help you with issues that were caused by changes you made)</li>
</ul>
<h2>Access Logs</h2>
<p>We collect information that your browser sends whenever you visit our Service, the Access Logs.</p>
<p>This access logs include information such as your IP address, browser type, browser version, the pages of our service that you visit, the time and date of your visit, we may also trace your IP to the country that it is registered to for security and intrusion prevention/detection reasons, as permited by GDPR article 6, paragraph 1, point F.</p>
<h2>Cookies</h2>
<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
<p>We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you wont be able to use our service.</p>
<h2>Tracking and Analytics Tools</h2>
<p>We use Google Analytics which help us know how users use our website so we can optimize and work on the most used features.</p>
<h2>Email Messages</h2>
<p>We may email you with updates or news from the website, we may also send you emails including but not limited to your account, such login alerts, security notifications, administrative updates to content you posted</p>
<p>We will never spam you with non-website related emails and will never provide your email to third parties</p>
<p>If you do not desire to receive emails from us please contact us in order to have your account deleted</p>
<h2>Security</h2>
<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
<h2>Legal</h2>
<p>If required by law, will you disclose personal information of users to law enforcement agents.</p>
<h2>Changes To This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and emailing you a notification.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<h2>Right to be forgotten</h2>
<p>You can delete your account and all information related to it (including logs) by requesting it via email to
gdpr[at]litespeedservices.com</p>
<p>The provision of your personal data is neither legally nor contractually binding and is optional. If you do not
agree to this policy, we cannot offer you our services, unfortunately. </p>
</div>
</div>
</body>

